<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>资产负债管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
</head>

<body>
<div class="wrap-container clearfix">
    <div class="column-content-detail">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <select name="states" lay-filter="status">
                        <option value="">选择记账本</option>
                        <option value="010">CM家庭记账本</option>
                        <option value="021">CM工作室记账本</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <select name="states" lay-filter="status">
                        <option value="">选择月份</option>
                        <option value="010">2018-01</option>
                        <option value="021">2018-02</option>
                        <option value="0571">2018-03</option>
                    </select>
                </div>
                <button class="layui-btn layui-btn-normal" lay-submit="search">查看</button>
                <div class="layui-inline tool-btn">
                    <button class="layui-btn layui-btn-small layui-btn-normal addBtn" data-url="article-add.html"><i
                            class="layui-icon">&#xe654;</i>添加
                    </button>
                    <button class="layui-btn layui-btn-small layui-btn-warm listOrderBtn hidden-xs"
                            data-url="article-add.html"><i class="iconfont">&#xe656;</i></button>
                </div>
            </div>
        </form>
        <div class="chart-panel panel panel-default">
            <div class="panel-header">资产负债汇总</div>
            <div class="layui-tab page-content-wrap" lay-filter="test">
                <ul class="layui-tab-title" id="sum_tab_title">
                    {% for account_name in assets_full_json.sum %}
                            <li>{{account_name}}</li>
                    {% endfor %}
                </ul>
                <div class="layui-tab-content" id="sum_tab_content">
                    {% for account_name in assets_full_json.sum %}
                    <div class="layui-tab-item">
                        <div class="layui-row chart-panel panel panel-default">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div class="panel-body" id="{{account_name}}_assets_total_echarts" style="height: 100px;"></div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div class="panel-body" id="{{account_name}}_liability_total_echarts" style="height: 100px;"></div>
                            </div>
                        </div>
                        <div class="layui-row chart-panel panel panel-default">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <table class="layui-table" lay-even lay-skin="nob" lay-filter="detail-table"
                                       id="{{account_name}}_assets-sum">
                                </table>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <table class="layui-table" lay-even lay-skin="line" lay-filter="detail-table"
                                       id="{{account_name}}_liability-sum">
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="chart-panel panel panel-default">
            <div class="panel-header">资产负债附表</div>
            <div class="layui-tab page-content-wrap" lay-filter="test">
                <ul class="layui-tab-title" id="appendix_tab_title">
                    {% for account_name in assets_full_json.appendix %}
                            <li>{{ account_name}}</li>
                    {% endfor %}
                </ul>
                <div class="layui-tab-content" id="appendix_tab_content">
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    {#var checkbook_list_json =  JSON.parse('{{ checkbook_list_json|tojson }}');#}
</script>
<script src="../../static/admin/js/lib/echarts.min.js"></script>
<script src="../../static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/assets_manage.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>