<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加明细</title>
		<link rel="stylesheet" type="text/css" href="../../static/admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
	</head>
	<body>
	<form class="layui-form column-content-detail">
            <!-- 设置一些隐藏的input,用来保存从父窗口获得的对象值-->
            <input type="hidden" name="detail_id" id="detail_id" value=""/>
            <div class="layui-form-item">
                <label class="layui-form-label">记账本：</label>
                <div class="layui-inline">
                    <select name="checkbook_id" lay-filter="checkbook_selector" id="checkbook_selector">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">日期：</label>
                <div class="layui-input-block">
                    <input  name="date" type="text" class="layui-input" id="day_selector" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属账户：</label>
                <div class="layui-inline">
                    <select name="account_name" lay-filter="detail_account_selector" id="detail_account_selector">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">明细类型：</label>
                <div class="layui-inline">
                    <select name="type" lay-filter="detail_type_selector" id="detail_type_selector">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类别：</label>
                <div class="layui-input-block">
                   <select name="category" lay-filter="detail_category_selector" id="detail_category_selector">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">金额：</label>
                <div class="layui-input-block">
                    <input type="text" id="detail_money" name="money" required lay-verify="required" value="" autocomplete="off" onkeyup="checknum(this);" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否现金：</label>
                 <div class="layui-input-block" id="detail_iscash">
                     <input type="radio" name="isCash" id="radio_cash" value="现金" title="现金" checked="">
                     <input type="radio" name="isCash" id="radio_credit" value="信用卡" title="信用卡">
                 </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <input type="text" name="remark" id="detail_remark" value="" autocomplete="off" required lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">记录者：</label>
                <div class="layui-input-block">
                    <input type="text" name="updater" id="detail_updater" readonly="readonly"  required lay-verify="required" value="CC" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="padding-left: 10px;">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="detailform">记一笔</button>
                </div>
            </div>
    </form>
    <script type="text/javascript">
        var detail_json = JSON.parse('{{ detail_json|tojson }}');
        var current_user_json =  JSON.parse('{{ current_user_json|tojson }}');
        var checkbook_fulls_json =  JSON.parse('{{ checkbook_fulls_json|tojson }}');
    </script>
	<script src="../../static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/admin/js/detail_add.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>